.container {
    /* width: calc(6 * 260px); */
    background-color: #dddddd;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(6, 256px);
    grid-template-rows: 144px 144px;
    grid-auto-flow: dense;
}